:root{
    font-size: 62.5%
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@import 'reset';
@import 'mixin';
@import 'conf';

body{
    font-size: 1.6rem;
    min-height: 100vh;
    @include flex ($flx,$rw,$cntr,$cntr,5rem);
    background: linear-gradient(45deg,rgb(180, 27, 180),rgb(216, 202, 202),rgb(38, 38, 172));

    .parent{
        font-size: 8rem;
        color:white;
        line-height:0.7 ;
        cursor: pointer;
        position: relative;
        filter: blur(1.2rem);
        transition: 0.5s;


        &::before{
            content: '';
            position: absolute;
            width: 30px;
            aspect-ratio: 1;
            font-size: 2rem;
            top:0;
            left:0;
            transform: translate(-100%,-100%);
            border-style: solid;
            border-color: white;
            border-width: 1rem 0 0 1rem;
            transition: 0.5s;
            opacity:0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 30px;
            aspect-ratio: 1;
            font-size: 2rem;
            top:0;
            right:0;
            transform: translate(100%,-100%);
            border-style: solid;
            border-color: white;
            border-width: 1rem 1rem 0 0;
            transition: 0.5s;
            opacity:0;
        }

        .child{
            width: 100%;
            height: 100%;

            &::before{
                content: '';
                position: absolute;
                width: 30px;
                aspect-ratio: 1;
                font-size: 2rem;
                bottom:0;
                left:0;
                transform: translate(-100%,100%);
                border-style: solid;
                border-color: white;
                border-width: 0 0 1rem 1rem;
                transition: 0.5s;
                opacity:0;
            }
            &::after{
                content: '';
                position: absolute;
                width: 30px;
                aspect-ratio: 1;
                font-size: 2rem;
                bottom:0;
                right:0;
                transform: translate(100%,100%);
                border-style: solid;
                border-color: white;
                border-width: 0 1rem 1rem 0;
                transition: 0.5s;
                opacity:0;
            }
            &:hover{
                filter: blur(0);
            }
            &:hover::before,
            &:hover::after{
                opacity: 1;
                
            }
        }
        &:hover{
            filter: blur(0);
            
        }
        &:hover::before,
        &:hover::after{
            opacity: 1;
        }
    }
    .parent2{
        font-size: 4rem;
        color:red;
        line-height:0.7 ;
        position: relative;
        filter: blur(1.6rem);
        transition: 0.5s;
    }
}
   